/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap");

:root {
  --primary: #efcf4f;
  --secondary: #c25934;
  --accent: #0c4b65;
  --white: #fff;
  --registerBtnBg: #0c4b65;
  --navColor: #fff;
  --navBg: #000000ab;
  --fieldBg: #e8f0fe;
  --dbLink: rgba(0, 0, 0, 0.784);
  --modeBtnBgDb: #e8e9eb;
  --modeBtnTextDb: #1f2937;
}

[data-theme="night"] {
  --primary: #efcf4f;
  --secondary: #c25934;
  --accent: #000;
  --white: #c8cad0;
  --registerBtnBg: #efcf4f;
  --navColor: #fff;
  --navBg: #00000059;
  --fieldBg: transparent;
  --dbLink: #fff;
  --modeBtnBgDb: #21293a;
  --modeBtnTextDb: #c8cad0;
}
html {
  transition: 0.3s ease-in-out;
}

.spicy-title {
  font-family: "Spicy Rice", cursive;
}

body {
  user-select: none;
  overflow-x: hidden;
}
