@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap");

:root {
  --primary: #efcf4f;
  --secondary: #c25934;
  --accent: #0c4b65;
  --white: #fff;
  --registerBtnBg: #0c4b65;
  --navColor: #fff;
  --navBg: #000000ab;
  --fieldBg: #e8f0fe;
  --dbLink: rgba(0, 0, 0, 0.784);
  --modeBtnBgDb: #e8e9eb;
  --modeBtnTextDb: #1f2937;
  --home-blog-bg: url("https://i.ibb.co/607tsLM/blog-BG-1.png");
  --blog-overlay: #f1eee7;
  --testymony-header: #111827;
  --dashboard-bg: #fff;
}

[data-theme="night"] {
  --primary: #efcf4f;
  --secondary: #c25934;
  --accent: #000;
  --white: #c8cad0;
  --registerBtnBg: #efcf4f;
  --navColor: #fff;
  --navBg: #00000059;
  --fieldBg: transparent;
  --dbLink: #fff;
  --modeBtnBgDb: #21293a;
  --modeBtnTextDb: #c8cad0;
  --home-blog-bg: transparent;
  --blog-overlay: transparent;
  --testymony-header: #0c4b65;
  --dashboard-bg: #0f1729;
}
html {
  transition: 0.3s ease-in-out;
}

.spicy-title {
  font-family: "Spicy Rice", cursive;
}

body {
  user-select: none;
  overflow-x: hidden;
}

/* Define scrollbar styles */
::-webkit-scrollbar {
  border-radius: 5px;
  width: 10px;
}

/* Track (background) of the scrollbar */
::-webkit-scrollbar-track {
  border: 1px solid #bcbdbe35;
  border-radius: 5px;
}

/* Handle (thumb) of the scrollbar */
::-webkit-scrollbar-thumb {
  background: #efcf4f;
  border-radius: 5px;
}

/* Optional: Hover state of the handle */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
