@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap");

:root {
  --primary: #efcf4f;
  --secondary: #c25934;
  --accent: #0c4b65;
  --white: #fff;
  --registerBtnBg: #0c4b65;
}

[data-theme="night"] {
  --primary: #efcf4f;
  --secondary: #c25934;
  --accent: #000;
  --white: #c8cad0;
  --registerBtnBg: #efcf4f;
}
html {
  transition: 0.3s ease-in-out;
}

.spicy-title {
  font-family: "Spicy Rice", cursive;
}

body {
  user-select: none;
}
